<div id="timepicker-container" class="absolute-element">
    <div class="timerpicker">
        <div class="timepicker-caption">
            <span>用车时间</span>
        </div>

        <div class="timepicker-column day-column">
            <ul id="day-options"></ul>
        </div>
        <div class="timepicker-column hour-column">
            <ul id="hour-options">
                <li>00</li>
                <li>01</li>
                <li>02</li>
                <li>03</li>
                <li>04</li>
                <li>05</li>
                <li>06</li>
                <li>07</li>
                <li>08</li>
                <li>09</li>
                <li class="current-option">10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
            </ul>
        </div>
        <div class="timepicker-column minute-column">
            <ul id="minute-options">
                <li class="current-option">00</li>
                <li>15</li>
                <li>30</li>
                <li>45</li>
            </ul>
        </div>

        <span class="timer-seperator absolute-element"> </span>
        <span class="timer-seperator absolute-element"> </span>

        <div class="timepicker-footer">
            <a class="timepicker-cancel-btn">取消</a>
            <a class="timepicker-confirm-btn">确定</a>
            <span class="timer-btn-seperator absolute-element"> </span>
        </div>

    </div>
</div>