.empty-header {
  height: 0; }

body {
  max-width: unset; }

/**
    机场选择
*/
.search-wrap {
  width: 100%;
  height: 4.4rem;
  padding: 0.6rem 1rem;
  padding-right: 0;
  background-color: white; }
  .search-wrap .search-input {
    width: 90%;
    height: 3.2rem;
    padding-left: 3rem;
    font-size: 1.2rem;
    border: none;
    background: url('/Content/Images/layout/search-s.png') no-repeat;
    background-position: 0.7rem 0.65rem;
    background-size: 1.9rem auto;
    background-color: #eeeeee;
    -moz-border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
    float: left; }
  .search-wrap a {
    margin-left: 0.5rem;
    position: relative;
    top: -0.3rem;
    color: #535353;
    font-size: 0.9rem;
    text-decoration: none;
    display: inline-block;
    text-align: center; }
    .search-wrap a i {
      display: block; }

.hot-airport {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden; }
  .hot-airport h1 {
    margin-top: 0.9rem;
    font-size: 0.9rem;
    color: #13b5b1; }
  .hot-airport li {
    width: 31%;
    margin-right: 3.5%;
    margin-top: 3%;
    padding: 1rem 0;
    -moz-border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
    background-color: white;
    text-align: center;
    line-height: 1.5rem;
    float: left; }
    .hot-airport li:nth-child(3n+3) {
      margin-right: 0; }
    .hot-airport li h5 {
      color: #13b5b1;
      font-size: 1.2rem; }
    .hot-airport li span {
      color: #626262;
      font-size: 0.9rem; }

.airport-list {
  width: 100%; }
  .airport-list .list-block {
    width: 100%; }
    .airport-list .list-block h3 {
      width: 100%;
      height: 3.1rem;
      border-bottom: 1px solid #dcdcdc;
      padding-left: 1rem;
      line-height: 3.1rem;
      color: #13b5b1;
      font-size: 1.2rem; }
    .airport-list .list-block .list-wrap {
      width: 100%;
      background-color: white; }
      .airport-list .list-block .list-wrap li {
        height: 3.1rem;
        padding-left: 1rem;
        border-bottom: 1px solid #dcdcdc;
        font-size: 1.2rem;
        line-height: 3.1rem; }

.alphabet-list {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 2rem;
  display: none;
  z-index: 99; }
  .alphabet-list ul {
    /*background-color:#cecece;*/
    height: 100%; }
    .alphabet-list ul li {
      width: 40px;
      height: 3.448%;
      line-height: 1.5rem;
      font-size: 12px;
      text-align: center;
      color: #13b5b1;
      position: relative; }
      .alphabet-list ul li a {
        display: block; }
      .alphabet-list ul li .floatbox {
        width: 33px;
        height: 27px;
        margin-left: -38px;
        margin-top: -4px;
        position: absolute;
        left: 0;
        top: 0;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-color: rgba(19, 181, 177, 0.5);
        color: white;
        line-height: 27px;
        display: block; }
        .alphabet-list ul li .floatbox:after {
          width: 0;
          height: 0;
          position: absolute;
          right: -16px;
          top: 8px;
          content: '';
          border-width: 5px 8px;
          border-style: solid;
          border-color: transparent transparent transparent rgba(19, 181, 177, 0.5); }

.search-list {
  margin-top: 1rem;
  border-top: 1px solid #dcdcdc;
  display: none; }

/*# sourceMappingURL=chooseap.css.map */