.ticket-item {
  width: 100%;
  border: 1px solid #d4d4d4;
  margin-top: 1.5rem;
  background-color: white; }
  .ticket-item.Confirm h3 {
    background-color: #ff8635; }
  .ticket-item.Confirm .trip-wrap {
    background-color: #fea061; }
  .ticket-item.Paid h3 {
    background-color: #eea941; }
  .ticket-item.Paid .trip-wrap {
    background-color: #f9b551; }
  .ticket-item.Cancel h3 {
    background-color: #959595; }
  .ticket-item.Cancel .trip-wrap {
    background-color: #c9c9c9; }
  .ticket-item.Processed h3 {
    background-color: #74c058; }
  .ticket-item.Processed .trip-wrap {
    background-color: #6fcf4b; }
  .ticket-item.Deployed h3 {
    background-color: #13b5b1; }
  .ticket-item.Deployed .trip-wrap {
    background-color: #22bfbb; }
  .ticket-item.Completed h3 {
    background-color: #448ac9; }
  .ticket-item.Completed .trip-wrap {
    background-color: #58a0e0; }
  .ticket-item.Cancellation h3 {
    background-color: #bf73b8; }
  .ticket-item.Cancellation .trip-wrap {
    background-color: #c483be; }
  .ticket-item.order-detail {
    margin-top: 0; }
    .ticket-item.order-detail h3 {
      background-color: #0e6e6c; }
    .ticket-item.order-detail .trip-wrap {
      background-color: #13b5b1; }
  .ticket-item h3 {
    width: 100%;
    height: 3.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 3.6rem;
    color: white; }
    .ticket-item h3 span {
      float: left; }
      .ticket-item h3 span:last-child {
        float: right; }
  .ticket-item .trip-wrap {
    width: 100%;
    height: 10rem;
    background-image: url("/Content/Images/ticket/sawtooth.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: white;
    display: table; }
    .ticket-item .trip-wrap .come-icon {
      width: 4.7rem;
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      .ticket-item .trip-wrap .come-icon img {
        width: 3rem; }
    .ticket-item .trip-wrap .trip-name {
      width: 30.2rem;
      height: 10rem;
      display: table-cell; }
      .ticket-item .trip-wrap .trip-name li {
        height: 5rem;
        line-height: 5rem;
        font-size: 1.7rem;
        color: white; }
  .ticket-item .book-info {
    width: 100%;
    height: 6.2rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid #d2d2d2; }
    .ticket-item .book-info .driver-name {
      float: left;
      font-size: 1.2rem; }
    .ticket-item .book-info .time-price {
      float: right; }
      .ticket-item .book-info .time-price span {
        display: block;
        text-align: right; }
        .ticket-item .book-info .time-price span.price {
          margin-top: 0.6rem;
          font-size: 1.7rem;
          color: #ff7e00; }
  .ticket-item .order-info {
    width: 100%;
    height: 5rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid #d2d2d2; }
    .ticket-item .order-info .distance {
      float: left;
      font-size: 1.2rem; }
    .ticket-item .order-info .flight-no {
      float: right; }
  .ticket-item .btns-wrap {
    width: 100%;
    height: 6.6rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem; }
    .ticket-item .btns-wrap a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      line-height: 3.5rem;
      -moz-border-radius: 0.25rem;
      -webkit-border-radius: 0.25rem;
      border-radius: 0.25rem; }
    .ticket-item .btns-wrap .go-detial {
      width: 11rem;
      height: 3.5rem;
      border: 0.1rem solid #13b5b1;
      color: #13b5b1; }
    .ticket-item .btns-wrap .back-home {
      width: 11rem;
      height: 3.5rem;
      border: 0.1rem solid #ff7e00;
      color: #ff7e00;
      float: right; }
    .ticket-item .btns-wrap .go-pay {
      width: 11rem;
      height: 3.5rem;
      background-color: #ff7e00;
      color: white;
      float: right; }

/**
    订单详情
*/
.order-status {
  width: 100%;
  height: 7.7rem;
  background-color: white;
  text-align: center;
  line-height: 7.7rem;
  font-size: 1.7rem;
  color: #13b5b1;
  font-weight: bold; }

.order-item {
  width: 100%;
  margin-top: 2rem;
  background-color: white; }
  .order-item h4 {
    width: 100%;
    height: 3.6rem;
    padding-left: 1rem;
    border-bottom: 1px solid #e5e5e5;
    color: #13b5b1;
    font-weight: bold;
    line-height: 3.6rem;
    position: relative; }
    .order-item h4 span {
      width: 9.5rem;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      line-height: 3.6rem;
      font-size: 1.2rem;
      color: white; }
      .order-item h4 span.Confirm {
        background-color: #ff8635; }
      .order-item h4 span.Paid {
        background-color: #eea941; }
      .order-item h4 span.Cancel {
        background-color: #959595; }
      .order-item h4 span.Processed {
        background-color: #74c058; }
      .order-item h4 span.Deployed {
        background-color: #13b5b1; }
      .order-item h4 span.Completed {
        background-color: #448ac9; }
      .order-item h4 span.Cancellation {
        background-color: #bf73b8; }
  .order-item .item-content {
    width: 100%;
    padding: 1.2rem 1rem 2.3rem 1rem;
    line-height: 2rem; }
    .order-item .item-content .order-info li {
      margin-top: 1rem; }
      .order-item .item-content .order-info li .cost-item {
        width: 24rem; }
        .order-item .item-content .order-info li .cost-item span {
          width: 8rem;
          display: inline-block; }
    .order-item .item-content .field-name, .order-item .item-content .field-content {
      float: left; }
    .order-item .item-content li {
      display: table;
      line-height: 2.2rem; }
      .order-item .item-content li > span {
        display: table-cell; }
  .order-item .supplement {
    width: 100%;
    height: 5rem;
    padding-left: 1rem;
    line-height: 5rem;
    background-color: #FCEFE2;
    font-size: 1.2rem;
    color: #ff8635; }
  .order-item .btns-wrap {
    width: 100%;
    height: 8rem;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem; }
    .order-item .btns-wrap a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      line-height: 3.5rem;
      -moz-border-radius: 0.25rem;
      -webkit-border-radius: 0.25rem;
      border-radius: 0.25rem; }
    .order-item .btns-wrap .go-detial {
      width: 11rem;
      height: 3.5rem;
      border: 0.1rem solid #13b5b1;
      color: #13b5b1; }
    .order-item .btns-wrap .back-home {
      width: 11rem;
      height: 3.5rem;
      border: 0.1rem solid #ff7e00;
      color: #ff7e00;
      float: right; }
    .order-item .btns-wrap .go-pay {
      width: 11rem;
      height: 3.5rem;
      background-color: #ff7e00;
      color: white;
      float: right; }

.cancel-rule {
  width: 100%;
  border-top: 1px solid #eeeeee;
  padding: 1rem;
  background-color: white;
  color: #959595;
  line-height: 2rem; }
  .cancel-rule h4 {
    font-size: 1.2rem;
    color: #ff8635; }

.cancel-popup {
  width: 100%;
  height: 100%;
  margin: auto 0;
  position: fixed;
  top: 0;
  max-width: 720px;
  background-color: rgba(0, 0, 0, 0.3); }
  .cancel-popup .cancel-popup-box {
    width: 29.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white; }
    .cancel-popup .cancel-popup-box h5 {
      width: 100%;
      height: 5rem;
      background-color: #009E96;
      text-align: center;
      line-height: 5rem;
      font-size: 1.7rem;
      color: white; }
    .cancel-popup .cancel-popup-box .cancel-intro {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 2rem; }
      .cancel-popup .cancel-popup-box .cancel-intro h6 {
        margin-top: 1.5rem;
        font-weight: bold; }
      .cancel-popup .cancel-popup-box .cancel-intro span {
        margin-top: 1.5rem;
        display: inline-block;
        line-height: 2rem; }
    .cancel-popup .cancel-popup-box .cancel-btn {
      width: 100%;
      height: 5.5rem;
      display: table; }
      .cancel-popup .cancel-popup-box .cancel-btn span {
        width: 50%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 1.7rem; }
        .cancel-popup .cancel-popup-box .cancel-btn span.close {
          background-color: #EEEEEE;
          color: #A0A0A0; }
        .cancel-popup .cancel-popup-box .cancel-btn span.sure {
          background-color: #FF7E00;
          color: white; }

/*# sourceMappingURL=odetail.css.map */